.chatbox {
  height: 100%;
  background: skyblue;
  position: absolute;
  bottom: 0;
  font-size: .8rem;
}

.chatbox.two {
  right: 0;
}

.chatbox .messages .message,
.chatbox .messages .saved-message {
  display: flex;
}
.chatbox .messages .saved-message {
  color: grey;
  font-style: italic;
}

.chatbox .messages .message-author {
  flex: 1;
  font-weight: bold;
  max-width: 10rem;
}

.chatbox .messages .message-text {
  flex-grow: 1;
}

.chatbox .messages .message-date {
  flex: 1;
  max-width: 9rem;
}

.chatbox form {
  position: absolute;
  bottom: 0;
  display: flex;
}

.chatbox form {
  width: 100%;
}

.chatbox form input {
  flex-grow: 1;
}

.chatbox form button {
  flex: 1;
  max-width: 4rem;
}
